asgiref==3.9.1
certifi==2025.7.14
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
Django==4.2.23
django-crispy-forms==2.4
djangorestframework==3.16.0
idna==3.10
joblib==1.5.1
nltk==3.9.1
numpy==2.3.2
pandas==2.3.2
pillow==11.3.0
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.2
regex==2025.7.34
requests==2.32.4
scikit-learn==1.7.1
scipy==1.16.1
six==1.17.0
sqlparse==0.5.3
threadpoolctl==3.6.0
tqdm==4.67.1
tzdata==2025.2
urllib3==2.5.0
